 #container {
    display: grid;
    max-width: 500px;
    min-height: 500px;
    margin: 2rem auto;
    border: 1px solid black;
    cursor: pointer;
}
.h1{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    color: rgb(240, 100, 6);
}
.grid{
    border: 1px solid rgb(5, 5, 5);
}
/* button {
    margin: auto;
    display: block;
} */
.containing{
  
    text-align: center;  
}
.btnclass{
    text-align: center;;
    border: 2px solid black;
    border-radius: 3px 3px 3px 3px;
}